<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taxworkbench.api.infrastructure.mybatis.mapper.WorkItemQueryMapper">

    <sql id="whereClause">
        <where>
            <if test="clientName != null and clientName != ''">
                and c.name like concat('%', #{clientName}, '%')
            </if>
            <if test="status != null and status != ''">
                and w.status = #{status}
            </if>
            <if test="assignee != null and assignee != ''">
                and w.assignee = #{assignee}
            </if>
            <if test="dueDateFrom != null and dueDateFrom != ''">
                and w.due_date <![CDATA[ >= ]]> #{dueDateFrom}
            </if>
            <if test="dueDateTo != null and dueDateTo != ''">
                and w.due_date <![CDATA[ <= ]]> #{dueDateTo}
            </if>
        </where>
    </sql>

    <select id="search" resultType="com.taxworkbench.api.infrastructure.mybatis.model.WorkItemGridRow">
        select
            w.id as id,
            c.id as client_id,
            c.name as client_name,
            w.biz_no as biz_no,
            w.type as type,
            w.status as status,
            w.assignee as assignee,
            cast(w.due_date as varchar) as due_date,
            w.tags_json as tags_json,
            w.memo as memo,
            w.version as version,
            FORMATDATETIME(w.updated_at, 'yyyy-MM-dd''T''HH:mm:ssXXX') as updated_at,
            case when exists (
                select 1
                from work_item_audits a
                where a.work_item_id = w.id
            ) then true else false end as has_audit
        from work_items w
        join clients c on c.id = w.client_id
        <include refid="whereClause"/>
        order by
        <choose>
            <when test="sortField == 'clientName'">c.name</when>
            <when test="sortField == 'status'">w.status</when>
            <when test="sortField == 'assignee'">w.assignee</when>
            <when test="sortField == 'dueDate'">w.due_date</when>
            <when test="sortField == 'updatedAt'">w.updated_at</when>
            <otherwise>w.id</otherwise>
        </choose>
        <choose>
            <when test="sortDirection == 'asc'">asc</when>
            <otherwise>desc</otherwise>
        </choose>
        , w.id desc
        limit #{limit} offset #{offset}
    </select>

    <select id="count" resultType="long">
        select count(1)
        from work_items w
        <if test="clientName != null and clientName != ''">
            join clients c on c.id = w.client_id
        </if>
        <where>
            <if test="clientName != null and clientName != ''">
                and c.name like concat('%', #{clientName}, '%')
            </if>
            <if test="status != null and status != ''">
                and w.status = #{status}
            </if>
            <if test="assignee != null and assignee != ''">
                and w.assignee = #{assignee}
            </if>
            <if test="dueDateFrom != null and dueDateFrom != ''">
                and w.due_date <![CDATA[ >= ]]> #{dueDateFrom}
            </if>
            <if test="dueDateTo != null and dueDateTo != ''">
                and w.due_date <![CDATA[ <= ]]> #{dueDateTo}
            </if>
        </where>
    </select>
</mapper>
